.frame-99,
.frame-99 * {
  box-sizing: border-box;
}
.frame-99 {
  width: 430px;
  height: 728px;
  position: relative;
  overflow: hidden;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 326px;
  height: 95px;
  position: absolute;
  left: 25px;
  top: 8px;
}
.label {
  color: var(--color-grey-900, #111827);
  text-align: left;
  font: var(--heading-h-4, 700 24px/130% "Inter-Bold", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.label2 {
  color: var(--color-secondary-400, #97a9bd);
  text-align: left;
  font: var(--body-large-regular, 400 16px/150% "-", sans-serif);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.label-2-span {
  color: var(--color-secondary-400, #97a9bd);
  font: var(--body-large-regular, 400 16px/150% "Inter-Regular", sans-serif);
}
.label-2-span2 {
  color: var(--color-secondary-400, #97a9bd);
  font: var(--body-large-regular, 700 16px/150% "Inter-Bold", sans-serif);
}
.tab {
  border-style: solid;
  border-color: var(--color-grey-300, #1e2857);
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 54px;
  position: absolute;
  left: calc(50% - 164px);
  top: 127px;
}
.item {
  padding: 16px 8px 16px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.label3 {
  color: var(--color-grey-500, #717585);
  text-align: left;
  font: var(--body-medium-medium, 500 14px/160% "Inter-Medium", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item2 {
  border-style: solid;
  border-color: var(--color-primary-600, #d1d5db);
  border-width: 0px 0px 1.5px 0px;
  padding: 16px 8px 16px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.textfields-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 327px;
  height: 128px;
  position: absolute;
  left: 24px;
  top: 213px;
}
.textfields {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color-grey-200, #eeeff2);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.vuesax-twotone-sms {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.vuesax-twotone-sms2 {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.vuesax-twotone-sms3 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.label4 {
  color: var(--color-grey-900, #111827);
  text-align: left;
  font: 400 16px/150% "Inter-Regular", sans-serif;
  position: relative;
}
.textfields2 {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color-primary-600, #1e2857);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.frame-42 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vuesax-twotone-lock {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.vuesax-twotone-lock2 {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.vuesax-twotone-lock3 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.divider {
  border-style: solid;
  border-color: var(--color-grey-900, #111827);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.label5 {
  color: var(--color-grey-300, #d1d5db);
  text-align: left;
  font: 400 16px/150% "Inter-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vuesax-twotone-eye-slash {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.vuesax-twotone-eye-slash2 {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.vuesax-twotone-eye-slash3 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.label6 {
  color: var(--color-primary-600, #1e2857);
  text-align: center;
  font: 700 16px/150% "Inter-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 177px);
  top: 357px;
  width: 211px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  background: #289acb;
  border-radius: 40px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 56px;
  position: absolute;
  left: calc(50% - 162px);
  top: 413px;
}
.label7 {
  color: var(--additional-white, #ffffff);
  text-align: center;
  font: 700 16px/150% "Inter-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-sign-in {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 309px;
  height: 102px;
  position: absolute;
  left: calc(50% - 155px);
  top: 528px;
}
.or {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.divider2 {
  border-style: solid;
  border-color: var(--color-grey-100, #f3f4f6);
  border-width: 1px 0 0 0;
  flex: 1;
  height: 0px;
  position: relative;
}
.label8 {
  color: var(--color-grey-400, #9ca3af);
  text-align: center;
  font: 500 14px/160% "Inter-Medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-social {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button2 {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color-grey-200, #eeeff2);
  border-width: 1px;
  padding: 16px;
  flex: 1;
  height: 56px;
  position: relative;
}
.foundation-social-apple {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 16px;
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  right: 15.62%;
  left: 15.62%;
  width: 68.77%;
  bottom: 10%;
  top: 10%;
  height: 80%;
  overflow: visible;
}
.label9 {
  color: var(--color-grey-900, #111827);
  text-align: center;
  font: 700 16px/150% "Inter-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 108.25px);
  top: calc(50% - 12px);
  width: 255px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.labela{
    color: var(--additional-white, #111827);
    text-align: center;
    font: 700 16px/150% "Inter-Bold", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button3 {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color-grey-100, #e8eaed);
  border-width: 1px;
  padding: 16px;
  flex: 1;
  height: 56px;
  position: relative;
}
.flat-color-icons-google {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 16px;
  top: 17px;
  overflow: visible;
}
.label10 {
  color: var(--color-grey-900, #111827);
  text-align: center;
  font: 700 16px/150% "Inter-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 110.25px);
  top: calc(50% - 12px);
  width: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
}
